.header {
    display: flex;
    flex-direction: row;
}

.header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
}

.header-content p {
    color: var(--color-text);
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    margin-top: 1.5rem;
}

.header-image {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 90%;
    height: 100%;
}